{% extends 'master.html' %}
{% block content %}
{% load static %}

<main>

    <header class="site-header site-menu-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-12 mx-auto">
                    <h1 class="text-white">Our Menus</h1>

                    <strong class="text-white">Perfect for all Cakes, Cupcakes, Cookies and Yoghurt</strong>
                </div>

            </div>
        </div>

        <div class="overlay"></div>
    </header>

    <section class="menu section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="mb-lg-5 mb-4">Cakes</h2>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/breakfast/CAKE 3.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Fresh Start</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>24.50</span>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/breakfast/CAKE 4.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Fresh Start</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>24.50</span>


                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/breakfast/CAKE 8.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Fresh Start</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>24.50</span>

                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/breakfast/CAKE 9.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Fresh Start</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>24.50</span>

                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/breakfast/CAKE 10.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Baked Creamy</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>16.50</span>

                          
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/breakfast/louis-hansel-dphM2U1xq0U-unsplash.jpg' %}" class="img-fluid news-image"
                            alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Burger Set</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>24.50</span>

                            <del class="ms-4"><small>$</small>36.50</del>

                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="menu section-padding bg-white">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="mb-lg-5 mb-4">Cupcakes</h2>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/lunch/CAKE 1.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Super Steak Set</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>32.75</span>

                            <del class="ms-4"><small>$</small>55</del>

                         
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/lunch/CAKE 2.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Super Steak Set</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>32.75</span>

                            <del class="ms-4"><small>$</small>55</del>

                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/lunch/CAKE 5.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Super Steak Set</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>32.75</span>

                            <del class="ms-4"><small>$</small>55</del>

                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="menu-thumb">
                        <img src=" {% static 'images/lunch/CAKE 6.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Bread &amp; Steak Set</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>42.50</span>

                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="menu section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="mb-lg-5 mb-4">Cookies</h2>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/dinner/farhad-ibrahimzade-ZipYER3NLhY-unsplash.jpg' %}"
                            class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Seafood Set</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>65.50</span>

                          
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/dinner/keriliwi-c3mFafsFz2w-unsplash.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Premium Steak</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>74.25</span>

                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/dinner/farhad-ibrahimzade-isHUj3N0194-unsplash.jpg' %}"
                            class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Salmon Set</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>60</span>

                           
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="menu section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="mb-lg-5 mb-4">Yoghurt</h2>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/dinner/farhad-ibrahimzade-ZipYER3NLhY-unsplash.jpg' %}"
                            class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Seafood Set</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>65.50</span>

                        
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/dinner/keriliwi-c3mFafsFz2w-unsplash.jpg' %}" class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Premium Steak</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>74.25</span>

                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="menu-thumb">
                        <img src="{% static 'images/dinner/farhad-ibrahimzade-isHUj3N0194-unsplash.jpg' %}"
                            class="img-fluid news-image" alt="">

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0">Salmon Set</h4>

                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>60</span>

                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

{% endblock %}